.navbar-brand {
  white-space: nowrap;
}

.navbar-toggler {
  border: 1px solid #c9d6e8;
}

.footer {
  white-space: nowrap;
}

@media (max-width: 575.98px) {
  .footer {
    white-space: normal;
  }
}
